@charset "utf-8";
@import "../../node_modules/bulma/bulma.sass";
// Import a Google Font
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$bgcolor: linear-gradient(120deg, #f6d365 0%, #fda085);
$body-background-color: $bgcolor;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;